table.table.table-bordered
    thead
        tr
            th Verb
            th Quant
            th Adj
            th Noun
            th Comments
            th
    each entry in entries
        tr
            td= entry.verb
            td= entry.quantifier
            td= entry.adjective
            td= entry.noun
            td= entry.comments
            td
                img(src="/images/glyphicons/png/glyphicons_190_circle_plus.png")