totalPages = Math.ceil(parseInt(entriesCount) / parseInt(defaultEntriesPageLength))
requested = parseInt(requested)
entriesCount = parseInt(entriesCount)
- if (undefined != entries)
  ul.unstyled.entrylist.well
    li.entriesPager
      div#entriesPagination(data-entries-count=entriesCount, data-requested=requested, data-total-pages=totalPages)
    each entry in entries
      li
        div.row-fluid
          div.span12
            p.entry= entry.verb + ' ' + entry.quantifier + ' ' + entry.adjective + ' ' + entry.noun + '.'
              - if (entry.comment)
                br
                =entry.comment
      li.meta
        div.row-fluid.entrymeta          
          div.span12.btn-group            
            //a.btn
              i.icon-search
            //a.btn
              i.icon-edit
            a.btn.disabled
              - if (entry.public == 1)              
                i.icon-eye-open
              - else
                i.icon-eye-close
              &nbsp;
              - if (entry.latitude != 0 && entry.longitude != 0)              
                i.icon-map-marker
              - else              
                i.icon-ban-circle
              &nbsp;
              = entry.createdAt
            a.btn
              i.icon-edit
            a(id=entry.id, data-verb=entry.verb, data-quantifier=entry.quantifier, data-adjective=entry.adjective, data-noun=entry.noun, data-comment=entry.comment).btn.placeEntry
              i.icon-plus